/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 头图遮罩层透明 */
#page-header::before{
  background: transparent!important;
  }
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
  
  /* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  transition: 0.3s;
  --trans-light: rgba(255, 255, 255, 0.9) !important;
}

[data-theme="dark"]
  #aside-content .card-widget {
    background: var(--trans-dark);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    transition: 0.3s;
    --trans-dark: rgba(35, 35, 35, 50%) !important;
  }
/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  background:rgba(255, 255, 255, 0.9);
}
/* 文章页面正文背景 */
div#post{
background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
background: rgba(255, 255, 255, 0.9);
}

/* 夜间模式 */


/* 首页文章卡片 */
[data-theme="dark"]
  #recent-posts > .recent-post-item{
    background:rgba(35, 35, 35, 0.5);
  }
  /* 文章页面正文背景 */
[data-theme="dark"]
  div#post{
  background: rgba(35, 35, 35, 0.5);
  }
  /* 分页页面 */
[data-theme="dark"]
  div#page{
    background: rgba(35, 35, 35, 0.5);
  }
  /* 归档页面 */
[data-theme="dark"]
  div#archive{
    background: rgba(35, 35, 35, 0.5);
  }
  /* 标签页面 */
[data-theme="dark"]
  div#tag{
    background: rgba(35, 35, 35, 0.5);
  }
  /* 分类页面 */
[data-theme="dark"]
  div#category{
    background: rgba(35, 35, 35, 0.5);
  }

  @media screen and (max-width: 768px) {
    #aside-content > .card-widget.card-info > #card-info-btn {
      background-color: #3eb8be;
      border-radius: 8px;
    }
    
    /* 首页文章卡片 */
    #recent-posts > .recent-post-item{
      background:rgba(255, 255, 255, 0.8);
    }
    /* 文章页面正文背景 */
    div#post{
    background: rgba(255, 255, 255, 0.8);
    }
    /* 分页页面 */
    div#page{
    background: rgba(255, 255, 255, 0.8);
    }
    /* 归档页面 */
    div#archive{
    background: rgba(255, 255, 255, 0.8);
    }
    /* 标签页面 */
    div#tag{
    background: rgba(255, 255, 255, 0.8);
    }
    /* 分类页面 */
    div#category{
    background: rgba(255, 255, 255, 0.8);
    }
    
  }

/* 播放器缩进 */
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }

@font-face {
  /* 為載入的字體取名字(隨意) */
  font-family: 'YSHST';	
  /* 字體文件地址(相對或者絕對路徑都可以) */
  src: url(/fonts/HYTangMeiRen55W.woff2);
  /* 定義加粗樣式(加粗多少) */
  font-weight: normal;
  /* 定義字體樣式(斜體/非斜體) */
  font-style: normal;
  /* 定義顯示樣式 */
  font-display: block;
}